$bg-primary: #5680E9;
$bg-secondary: #5AB9EA;
$text-primary: #84CEEB;
$text-secondary: #C1C8E4;
$iconHover: #8860D0;
//remove white space at top and bottom when scrolling
html {
    overflow: hidden;
    height: 100%;
}

body {
    overflow: auto;
    height: 100%;
}

//standard font size
:root{
  font-size: 17px;
}

//scroll bar creation
.mainContainer::-webkit-scrollbar{
  width: 0.2rem;
}
.mainContainer::-webkit-scrollbar-track{
  background: $bg-secondary;
}
.mainContainer::-webkit-scrollbar-thumb{
  background: $bg-primary;
}
//content container beside scrollbar
.mainContainer{
  z-index:4;
  width:auto;
  height:100%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.mainChild{
  //display: block;
}


