@font-face {
    font-family: bonve;
    src: url("../resources/font/BonvenoCF-Light.otf") format("opentype");
}
.aboutContainer {
    width: 100%;
    height: 100%;

    z-index: 4;
    border-style: dashed;
}
.blurred-box2 {
    position: relative;

    background: inherit;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.blurred-box2:after {
    content: "";

    background: inherit;
    position: absolute;

    // for orgainzing th sections
}

.introWrap {
    margin-top: 2%;
    z-index: 10;
    background: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: bonve;
    .content {
        display: inline-block;
        width: 90%;
        text-align: center;
        color: #ffffff;
    }
    .skill_list {
        list-style-type: square;
        padding-left: 25%;
        li {
            display: list-item;
            width: 50%;
            float: left;
            color: white;
            padding-right: 1rem;
        }
    }
    .title {
        text-align: left;
        color: white;
    }
}

//for small
@media only screen and (max-width: 620px) {
    .blurred-box2 {
        width: 85%;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .blurred-box2:after {
        width: 110%;
        height: 105%;
        left: -25px;
        right: 0;
        top: -25px;
        bottom: 0;
        box-shadow: inset 200px 200px 200px 200px rgba(255, 255, 255, 0.05);
        filter: blur(10px) contrast(200%);
    }
    .introWrap {
        width: 98%;
        height: 90%;
        .title {
            letter-spacing: 0.1rem;
            margin-bottom: 2.2vh;
            font-size: calc(min(max(1.9vw, 13px), max(5.1vh, 13px)));
        }
        .content {
            letter-spacing: 0.01rem;
            margin-bottom: 2.2vh;
            font-size: calc(min(max(1.3vw, 11px), max(2.1vh, 11px)));
        }
        .skill_list_title {
            font-weight: 900 !important;
        }
        .skill_list li {
            font-size: calc(min(max(1.55vw, 12px), max(2.2vh, 12px)));
            &:nth-child(3) {
                width: 100%;
            }
        }
    }
}

//for large
@media only screen and (min-width: 620px) {
    .blurred-box2 {
        width: calc(min(65%, 60rem));
        height: 60%;
        min-height: 300px;
    }
    .blurred-box2:after {
        width: 110%;
        height: 105%;

        left: -25px;
        right: 0;
        top: -25px;
        bottom: 0;
        box-shadow: inset 0 0 200px 200px rgba(255, 255, 255, 0.05);
        filter: blur(200px) contrast(200%);
    }
    .introWrap {
        width: 98%;
        height: 90%;
        .title {
            letter-spacing: 0.1rem;
            margin-bottom: 2.2vh;
            font-size: calc(min(max(1.8vw, 12px), max(5vh, 12px)));
        }
        .content {
            letter-spacing: 0.01rem;
            margin-bottom: 2.2vh;
            font-size: calc(min(max(1.2vw, 10px), max(2vh, 10px)));
        }
        .skill_list_title {
            font-weight: 900 !important;
        }
        .skill_list li {
            font-size: calc(min(max(1.45vw, 11px), max(2.1vh, 11px)));
            &:nth-child(3) {
                width: 100%;
            }
        }
    }
}
