@font-face {
    font-family: bonve;
    src: url("../resources/font/BonvenoCF-Light.otf") format("opentype");
}
.blurred-box4 {
    position: relative;
    background: inherit;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.blurred-box4:after {
    content: "";
    background: inherit;
    position: absolute;

    // for orgainzing th sections
}

.contactWrapper {
    z-index: 5;
    color: white;
    margin: 5%;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
        text-align: left;
        color: white;
    }
    .externalWrap {
        width: 100%;
        height: 100%;
        display: flex;
        .description {
            text-align: center;
        }
        & > .linkWrapper {
            width: 50%;
            display: flex;
            flex-direction: column;

            align-items: center;

            & > .link {
                margin: 0;
                padding: 0;
                height: 5rem;
            }
        }
    }
    .emailWrapper {
        display: block;
        height: 3rem;
        .email {
            display: block;

            .emailLink {
                display: inline;
            }
        }
    }
}

//for small
@media only screen and (max-width: 620px) {
    .blurred-box4 {
        width: 90%;
        height: 75%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        min-height: 32.5rem;
    }
    .blurred-box4:after {
        width: 110%;
        height: 95%;
        left: -25px;
        right: 0;
        top: -25px;
        bottom: 0;
        box-shadow: inset 200px 200px 200px 200px rgba(255, 255, 255, 0.05);
        filter: blur(10px) contrast(200%);
    }
    .title {
        letter-spacing: 0.01rem;
        font-size: calc(min(max(2.1vw, 14px), max(5.3vh, 14px)));
    }
    .contactWrapper {
        .externalWrap {
            flex-direction: column;
            align-items: center;
            height: 65%;
            .description {
                width: 100%;
                font-size: calc(min(max(1.3vw, 12px), max(2.2vh, 12px)));
            }
            & > .linkWrapper {
                height: 100%;
                & > .link {
                    display: block;
                    height: 3rem;
                    width: 9rem;
                    margin: 2%;
                    button {
                        width: 100%;
                        height: 100%;
                        svg {
                            display: inline-block;
                        }
                    }
                }
            }
        }
        .emailWrapper {
            width: 100%;
            .email {
                display: block;
                .emailLink {
                    width: 100%;
                    display: inline-block;
                    font-size: calc(min(max(2.5vw, 18px), max(5.8vh, 18px)));
                    letter-spacing: 0.001rem;
                    text-align: center;
                }
            }
        }
    }
}
//for large
@media only screen and (min-width: 620px) {
    .blurred-box4 {
        width: 60%;
        height: 50%;
        min-height: 24rem;
    }
    .blurred-box4:after {
        width: 110%;
        height: 100%;

        left: -25px;
        right: 0;
        top: -25px;
        bottom: 0;
        box-shadow: inset 200px 200px 200px 200px rgba(255, 255, 255, 0.05);
        filter: blur(200px) contrast(200%);
    }
    .contactWrapper {
        .title {
            font-size: x-large;
        }
        .externalWrap {
            flex-direction: row;
            max-height: 13rem;
            .description {
                width: 50%;
                font-size: 92% !important;
            }
            & > .linkWrapper {
                justify-content: space-around;
                height: 90%;
                button {
                    min-width: 8rem;
                }
            }
        }
    }
    .emailWrapper {
        .emailLink {
            font-size: x-large;
        }
    }
}
