@font-face {
    font-family: bonve;
    src: url("../resources/font/BonvenoCF-Light.otf") format("opentype");
}
.blurred-box4 {
    position: relative;
    background: inherit;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.blurred-box4:after {
    content: "";
    background: inherit;
    position: absolute;
    left: -25px;
    right: 0;
    top: -25px;
    bottom: 0;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
    filter: blur(10px) contrast(200%);

    // for orgainzing th sections
}

.contactWrapper {
    z-index: 5;
    color: white;
    margin: 5%;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
        text-align: left;
        color: white;
    }
    .externalWrap {
        width: 100%;
        display: flex;
        .description {
            text-align: center;
        }
        & > .linkWrapper {
            width: 50%;
            display: flex;
            flex-direction: column;

            align-items: center;

            & > .link {
                margin: 0;
                padding: 0;
                height: 5rem;
            }
        }
    }
    .emailWrapper {
        display: block;
        height: 3rem;
        .email {
            display: inline;

            .emailLink {
                display: inline;
            }
        }
    }
}

//for small
@media only screen and (max-width: 700px) {
    .blurred-box4 {
        width: 85%;
        height: 75%;
        top: calc(10.5%);
        left: calc(7.5%);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .blurred-box4:after {
        width: 110%;
        height: 95%;
        left: -25px;
        right: 0;
        top: -25px;
        bottom: 0;
        box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
        filter: blur(10px) contrast(200%);
    }
    .contactWrapper {
        .externalWrap {
            font-size: small;
            flex-direction: column;
            align-items: center;
            height: 65%;
            .description {
                width: 100%;
            }
            & > .linkWrapper {
                height: 100%;
                & > .link {
                    display: block;
                    height: 3rem;
                    width: 9rem;
                    margin: 2%;
                    button {
                        width: 100%;
                        height: 100%;
                        svg {
                            display: inline-block;
                        }
                    }
                }
            }
        }
        .emailWrapper {
            width: 100%;
            .email {
                display: block;
                .emailLink {
                    width: 100%;
                    display: inline-block;
                    font-size: x-large;
                    letter-spacing: 0.001rem;
                    text-align: center;
                }
            }
        }
    }
}
@media only screen and (max-height: 700px) {
    .contactWrapper {
        .title {
            font-size: medium;
        }
        .externalWrap {
            .description {
                font-size: small;
            }
        }
    }
}
@media only screen and (min-height: 700px) {
    .contactWrapper {
        .title {
            font-size: large;
        }
        .externalWrap {
            .description {
                font-size: medium;
            }
        }
    }
}
//for large
@media only screen and (min-width: 700px) {
    .blurred-box4 {
        width: 700px;
        height: 400px;
        top: calc(50% - 200px);
        left: calc(50% - 375px);
    }
    .blurred-box4:after {
        width: 725px;
        height: 400px;

        left: -25px;
        right: 0;
        top: -25px;
        bottom: 0;
        box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
        filter: blur(10px) contrast(200%);
    }
    .contactWrapper {
        .title {
            font-size: x-large;
        }
        .externalWrap {
            flex-direction: row;
            height: 10rem;
            .description {
                width: 50%;
            }
            & > .linkWrapper {
                justify-content: space-around;
                height: 90%;
            }
        }
    }
    .emailWrapper {
        .email {
            svg {
                margin-bottom: calc(1.5rem - 12px);
            }
        }
        .emailLink {
            font-size: xx-large;
        }
    }
}
