@font-face {
    font-family: bonve;
    src: url("../resources/font/BonvenoCF-Light.otf") format("opentype");
}
.blurred-box4 {
    position: relative;
    width: 700px;
    height: 400px;
    top: calc(50% - 200px);
    left: calc(50% - 375px);
    background: inherit;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.blurred-box4:after {
    content: "";
    width: 725px;
    height: 400px;
    background: inherit;
    position: absolute;
    left: -25px;
    right: 0;
    top: -25px;
    bottom: 0;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
    filter: blur(10px) contrast(200%);

    // for orgainzing th sections
}

.contactWrapper {
    z-index: 5;
    color: white;
    margin: 5%;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
        text-align: left;
        color: white;
        font-size: x-large;
    }
    .externalWrap {
        width: 100%;
        height: 10rem;
        display: flex;
        .description {
            width: 50%;
            text-align: center;
        }
        & > .linkWrapper {
            width: 50%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            & > .link {
                margin: 0;
                padding: 0;
                height: 5rem;
            }
        }
    }
    .emailWrapper {
        display: block;
        height: 3rem;
        .title {
            font-size: xx-large;
            display: inline;
        }
        .email {
            display: inline;
            svg {
                margin-bottom: calc(1.5rem - 12px);
            }
            .emailLink {
                font-size: xx-large;

                display: inline;
            }
        }
    }
}
