@font-face {
    font-family: bonve;
    src: url("../resources/font/BonvenoCF-Light.otf") format("opentype");
}
.blurred-box3 {
    position: relative;
    width: 700px;
    height: 400px;
    top: calc(50% - 225px);
    left: calc(50% - 375px);
    background: inherit;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.blurred-box3:after {
    content: "";
    width: 725px;
    height: 400px;
    background: inherit;
    position: absolute;
    left: -25px;
    right: 0;
    top: -25px;
    bottom: 0;
    box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.05);
    filter: blur(10px) contrast(200%);

    // for orgainzing th sections
}

.projectWrap {
    margin-top: 2%;
    z-index: 10;
    width: 98%;
    height: 90%;
    background: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: bonve;
    letter-spacing: 0.1rem;
    .showWindowContainer {
        width: 90%;
        height: 100%;
        color: #ffffff;
        .showWindow {
            button {
                align-self: center;
            }
            svg {
                width: 40%; //! careful
                height: 40%; //! careful
            }
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            .cardWrap {
                box-sizing: border-box;
                box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
                height: 50%;
                width: 8rem;
                display: flex;
                opacity: 0.65;
                border-radius: 5px;
                overflow: hidden;
                & > .card1 {
                    width: 100%;
                    height: 100%;
                    margin-left: -100%;
                    background: #01000b;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.25s linear;
                }
                &:hover {
                    .card1 {
                        opacity: 0;
                    }
                    & {
                        opacity: 1;
                    }
                    & > .card2 {
                        opacity: 1;
                    }
                }
                & > .card2 {
                    z-index: 5;
                    opacity: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    transition: all 0.4s linear;
                    align-items: center;
                    .description {
                        margin: 2px;
                        margin-bottom: 0;
                        font-size: x-small;
                        display: inline-block;
                        top: 0;
                        left: 0;
                    }
                    .github {
                        margin-top: auto;
                        margin-bottom: 5%;
                    }
                    svg {
                        width: 100%;
                    }
                }
            }
            & > button {
                width: auto;
                opacity: 0.5;
                height: auto;
                transition: all 0.2s linear;
                svg {
                    width: 100%;
                }
                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .gitSection {
        width: 90%;
        border-style: solid;
    }
    .title {
        text-align: left;
        color: white;
        font-size: x-large;
    }
}
